span.active {
}
.contact {
  float: left;
  margin-right: 3em;
}

.contact a {
  color: #8085C1;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
