<div class="intro">
  <h5>Introduction</h5>
  <p>vimer, linuxer</p>
</div>
<div class="project">
  <h5>Project</h5>
  <ul>
    <li>Share_Link</li>
    <li>Todo_List</li>
    <li>More detail: my github</li>
  </ul>
</div>

<h5>Contact: </h5>
<div class="contact">
  <p>
    Email<br />
    Follow Me at Twitter<br />
    Follow Me at Github<br />
    My Blog
  </p>
</div>

<div class="contact">
  <p>
    <%= link_to 'lafwind#gmail.com'%><br />
    <%= link_to '@lafwind', 'https://twitter.com/lafwind' %><br />
    <%= link_to '@lafwind', 'https://www.github.com/lafwind' %><br />
    <%= link_to 'Lafwind\' blog', 'https://lafwind.github.io' %>
  </p>
</div>
<div class="clearfix">
</div>
