<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Lafwind</title>
    <%= stylesheet_link_tag "all", "home", "normalize" %>
    <script src="https://use.fonticons.com/d72cf251.js"></script>
  </head>
  <body>
    <div id="background">
      <header class="cf">
        <div class="wrapper">
          <nav>
            <ul>
              <li><a href="./profile.html">Profile</a></li>
              <li><%= link_to 'Blog', './blog.html' %></li>
              <li><a href="./works.html">Works</a></li>
              <li><a href="./resume.html">Resume</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="wrapper">

        <div class="content">
          <div class="gravatar">
          </div>
          <h1>Hello, I'm Lafwind Li</h1>
          <p>Rails Developer & Front End Developer</p>
        </div>

        <footer>
          <ul>
            <li><a href="https://github.com/lafwind"><span class="icon icon-github"></span></a></li>
            <li><a href="./wechat.html"><span class="icon icon-weixin""></span></a></li>
            <li><a href="https://instagram.com/lafwind/"><span class="icon icon-instagram"></span></a></li>
            <li><a href="https://www.pinterest.com/lafwind/"><span class="icon icon-pinterest"></span></a></li>
            <li><a href="mailto:lafwind@gmail.com"><span class="icon icon-envelope"></span></a></li>
            <!--             <li><a href="https://www.pinterest.com/lafwind/"><span class="icon icon-twitter"></span></a></li> -->
          </ul>
        </footer>

      </div>
    </div>
  </body>
</html>
